{% extends "base.html" %}

{% block title %}{{ get_text('faq') }}{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ get_text('frequently_asked_questions') }}</h1>
    
    <div class="faq-item">
        <h3>{{ get_text('how_do_i_create_an_account') }}</h3>
        <p>{{ get_text('how_do_i_create_an_account_answer') }}</p>
    </div>
    
    <div class="faq-item">
        <h3>{{ get_text('how_do_i_find_matches') }}</h3>
        <p>{{ get_text('how_do_i_find_matches_answer') }}</p>
    </div>
    
    <div class="faq-item">
        <h3>{{ get_text('is_my_information_secure') }}</h3>
        <p>{{ get_text('is_my_information_secure_answer') }}</p>
    </div>
    
    <div class="faq-item">
        <h3>{{ get_text('what_are_premium_features') }}</h3>
        <p>{{ get_text('what_are_premium_features_answer') }}</p>
    </div>
    
    <div class="faq-item">
        <h3>{{ get_text('how_do_i_contact_support') }}</h3>
        <p>{{ get_text('how_do_i_contact_support_answer') }}</p>
    </div>
</div>
{% endblock %}